<html xmlns:th="https://www.thymeleaf.org">
	<head></head>
	<body>
		<a th:href="${previousUrl}"><button type="button">Back</button></a>
		<h1 th:text="${course.getCourseName()}"></h1>
		<h2 th:text="${course.getCourseDesc()}"></h2>
		<p th:text="'Teaching professor: ' + ${course.getProfessor().getName()} + ' ' + ${course.getProfessor().getSurname()}"></p>
		
		<a th:href="@{/course/crud/{uuid}/add(uuid=${course.getCId()}, referer=${previousUrl})}"><button type="button">Add student to Course</button></a>
		<a th:href="@{/course/crud/{uuid}/provision(uuid=${course.getCId()})}"><button type="button">Initialize Instances</button></a>
		<a th:href="@{/course/crud/{uuid}/deploy(uuid=${course.getCId()})}"><button type="button">Deploy Lab</button></a>
		<a th:href="@{/course/crud/{uuid}/cleanup(uuid=${course.getCId()})}"><button type="button">Delete Files</button></a>
		<p>Note: Initialization and Deployment can take some time.</p>
		<table border = 1px>
			<th colspan="7">Student List</th>
			<tr>
				<td>Student ID</td>
				<td>Student Name</td>
				<td>Student Middle Name</td>
				<td>Student Surname</td>
				<td>Student Email</td>
				<td>Student Username</td>
				<td>Remove</td>
			</tr>
			<tr th:each="student : ${course.getStudents()}">
				<td th:text="${student.getPersonId()}"></td>
				<td th:text="${student.getName()}"></td>
				<td th:text="${student.getMiddleName()}"></td>
				<td th:text="${student.getSurname()}"></td>
				<td th:text="${student.getEmail()}"></td>
				<td th:text="${student.getUsername()}"></td>
				<td>
					<a th:href="@{/course/crud/{uuid}/remove/{studentId}(uuid=${course.getCId()},studentId=${student.getPersonId()}, referer=${previousUrl})}">
						<button type="button">Remove from course</button>
					</a>
				</td>
			</tr>
		</table>
		<table border="1px">
			<th colspan="3"> Instance List</th>
			<tr>
				<td>Student Username</td>
				<td>IP address</td>
				<td>Instance status</td>
			</tr>
			<tr th:each="i : ${instance}">
				<td th:text="${i.getStudent().getUsername()}"></td>
				<td th:text="${i.getIpAddress()}"></td>
				<td th:text="${i.getStatus()}"></td>
			</tr>
		</table>
	</body>
</html>