<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head></head>
	<body>
		<button onclick="history.back()">Back</button>
		<h1 th:text="${course.getCourseName()}"></h1>
		<h2 th:text="${course.getCourseDesc()}"></h2>
		<p th:text="'Teaching professor: ' + ${course.getProfessor().getName()} + ' ' + ${course.getProfessor().getSurname()}"></p>
		<table border = 1px>
			<th colspan="7">Available Students</th>
			<tr>
				<td>Student ID</td>
				<td>Student Name</td>
				<td>Student Middle Name</td>
				<td>Student Surname</td>
				<td>Student Email</td>
				<td>Student Username</td>
				<td>Add Student</td>
			</tr>
			<tr th:each="temp : ${student}">
				<td th:text="${temp.getPersonId()}"></td>
				<td th:text="${temp.getName()}"></td>
				<td th:text="${temp.getMiddleName()}"></td>
				<td th:text="${temp.getSurname()}"></td>
				<td th:text="${temp.getEmail()}"></td>
				<td th:text="${temp.getUsername()}"></td>
				<td>
					<form th:action="@{/course/crud/add-student}" method=post>
						<input type="hidden" name="uuid" th:value="${course.getCId()}" />
						<input type="hidden" name="studentId" th:value="${student.getPersonId()}" />
						<button type="submit">Add to Course</button>
					</form>
					</a>
				</td>
			</tr>
		</table>
	</body>
</html>