<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    
  </head>
  <body>
	<button onclick="history.back()">Back</button>
    <h1>Create new Course</h1>
    <form
      action="#"
      th:action="@{/course/crud/create}"
      th:object="${course}"
      method="post"
    >
      <table>
        <tr>
          <td>Course Name:</td>
          <td><input type="text" th:field="*{courseName}" /></td>
		  <td th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"></td>
        </tr>
        <tr>
          <td>Course Description:</td>
          <td><input type="text" th:field="*{courseDesc}" /></td>
		  <td th:if="${#fields.hasErrors('courseDesc')}" th:errors="*{courseDesc}"></td>
        </tr>
        <tr>
          <td>Surname:</td>
          <td><select th:field="*{professorId}">
			<option th:each="temp : ${professor}" th:value="${temp.getPersonId()}" th:text="${temp.getName()+' '+temp.getSurname()}"/>
		  </select></td>
        </tr>
		<tr>
		  <td><input type="submit" /></td>
		</tr>
      </table>
	  <input type="hidden" name="referer" th:value="${previousUrl}" />
    </form>
  </body>
</html>