<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Professor Home</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<header>
		<h1 th:text="'Welcome, Prof. ' + ${professor.name}">Professor Home</h1>
		<nav>
			<a th:href="@{/professor/home}">Dashboard</a>
			<a th:href="@{/course/crud/create/{username}(username=${professor.getUsername()},referer='/professor/home')}">Create Course</a>
			<a th:href="@{/logout}">Logout</a>
		</nav>
	</header>
	<div class="container">
		<h2>Your Courses</h2>
		<table border=1px>
			<thead>
				<tr>
					<td>Course ID</td>
					<td>Course Name</td>
					<td>Course Description</td>
					<td>Course Info</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course : ${filtered_courses}">
					<td th:text="${course.getCId()}"></td>
					<td th:text="${course.getCourseName()}"></td>
					<td th:text="${course.getCourseDesc()}"></td>
					<td>
						<a th:href="@{/course/crud/name/{slug}(slug=${course.getSlug()}, referer='/professor/home')}">
							<button type="button">Manage</button>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>