<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head></head>
	<body>
		<button onclick="history.back()">Back</button>
		<button onclick="location.href='/logout'">Logout</button>
		<h1 th:text="${professor.getName() + ' ' + professor.getSurname()}"></h1>
		<table border = 1px>
			<tr>
				<td>Course ID</td>
				<td>Course Name</td>
				<td>Course Description</td>
				<td>Course Info</td>
			</tr>
			<tr th:each="course : ${filtered_courses}">
				<td th:text="${course.getCId()}"></td>
				<td th:text="${course.getCourseName()}"></td>
				<td th:text="${course.getCourseDesc()}"></td>
				<td>
					<a th:href="@{/course/crud/{slug}(slug=${course.getSlug()}, referer='/professor/home/' + ${professor.getPersonId()})}">
						<button type="button">Info</button>
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<button onclick="location.href='/course/crud/create'">Create New Course</button>
				</td>
		    </tr>	
		</table>
	</body>
</html>