<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>All Students</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<div class="container">
		<button onclick="history.back()" class="btn btn-primary" style="margin-bottom: 20px;">Back</button>
		<h1>Information about all students</h1>

		<table>
			<thead>
				<tr>
					<th>Student ID</th>
					<th>Student Name</th>
					<th>Student Middle Name</th>
					<th>Student Surname</th>
					<th>Student Email</th>
					<th>Student Username</th>
					<th>Delete</th>
					<th>Update</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="temp : ${student}">
					<td th:text="${temp.getPersonId()}"></td>
					<td th:text="${temp.getName()}"></td>
					<td th:text="${temp.getMiddleName()}"></td>
					<td th:text="${temp.getSurname()}"></td>
					<td th:text="${temp.getEmail()}"></td>
					<td th:text="${temp.getUsername()}"></td>
					<td>
						<form th:action="@{/professor/crud/delete}" method="post">
							<input type="hidden" name="uuid" th:value="${temp.getPersonId()}" />
							<input type="hidden" name="referer" th:value="${previousUrl}" />
							<button type="submit" class="btn btn-danger"
								style="padding: 6px 12px; font-size: 0.85rem;">Delete</button>
						</form>
					</td>
					<td>
						<a th:href="@{/professor/crud/update/{username}(username=${temp.getUsername()}, referer='/professor/home')}"
							class="btn btn-primary" style="padding: 6px 12px; font-size: 0.85rem;">
							Update info
						</a>
					</td>
				</tr>
				<tr>
					<td colspan="8" style="text-align: center;">
						<button onclick="location.href='/student/crud/create'" class="btn btn-success"
							style="margin-top: 10px;">
							Create New Student
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>