<html xmlns:th="https://www.thymeleaf.org">
  <body>
    <p>Informācija par vairākiem profesoriem</p>
    <table border="1px">
		<tr> 
			<td>UUID</td>
			<td>First Name</td>
			<td>Middle Name</td>
			<td>Surname</td>
			<td>Email</td>
			<td>Username</td>
		</tr>
      <tr th:each="temp : ${professor}">
        <td th:text="${temp.getPersonId()}"></td>
        <td th:text="${temp.getName()}"></td>
        <td th:text="${temp.getMiddleName()}"></td>
        <td th:text="${temp.getSurname()}"></td>
        <td th:text="${temp.getEmail()}"></td>
		<td th:text="${temp.getUsername()}"></td>
      </tr>
    </table>
  </body>
</html>