<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>All Courses</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<div class="container">
		<button onclick="history.back()" class="btn btn-primary" style="margin-bottom: 20px;">Back</button>
		<h1>All courses</h1>

		<table>
			<thead>
				<tr>
					<th>Course ID</th>
					<th>Course Name</th>
					<th>Course Description</th>
					<th>Teaching Professor</th>
					<th>Student List</th>
					<th>Delete</th>
					<th>Update</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="temp : ${course}">
					<td th:text="${temp.getCId()}"></td>
					<td th:text="${temp.getCourseName()}"></td>
					<td th:text="${temp.getCourseDesc()}"></td>
					<td th:text="${temp.getProfessor().getName()} + ' ' + ${temp.getProfessor().getSurname()}"></td>

					<td>
						<a th:href="@{/course/crud/{slug}(slug=${temp.getSlug()})}" class="btn btn-primary"
							style="padding: 6px 12px; font-size: 0.85rem;">
							Student List
						</a>
					</td>
					<td>
						<a th:href="@{/course/crud/delete?{uuid}(uuid=${temp.getCId()})}" class="btn btn-danger"
							style="padding: 6px 12px; font-size: 0.85rem;">
							Delete
						</a>
					</td>
					<td>
						<a th:href="@{/course/crud/update?{uuid}(uuid=${temp.getCId()})}" class="btn btn-primary"
							style="padding: 6px 12px; font-size: 0.85rem;">
							Update
						</a>
					</td>
				</tr>
				<tr>
					<td colspan="7" style="text-align: center;">
						<button onclick="location.href='/course/crud/create'" class="btn btn-success"
							style="margin-top: 10px;">
							Create New Course
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>