<html xmlns:th="https://www.thymeleaf.org">
  <body>
	<button onclick="history.back()">Back</button>
    <h1>Information about all professors</h1>
    <table border="1px">
		<tr> 
			<td>UUID</td>
			<td>First Name</td>
			<td>Middle Name</td>
			<td>Surname</td>
			<td>Email</td>
			<td>Username</td>
			<td>Courses</td>
			<td>Delete</td>
			<td>Update</td>
		</tr>
      <tr th:each="temp : ${professor}">
        <td th:text="${temp.getPersonId()}"></td>
        <td th:text="${temp.getName()}"></td>
        <td th:text="${temp.getMiddleName()}"></td>
        <td th:text="${temp.getSurname()}"></td>
        <td th:text="${temp.getEmail()}"></td>
		<td th:text="${temp.getUsername()}"></td>
		<td><a th:href="@{/professor/home/{uuid}(uuid=${temp.getPersonId()})}"><button type="button">Profile</button></a></td>
		<td><a th:href="@{/professor/crud/delete/{uuid}(uuid=${temp.getPersonId()})}"><button type="button">Delete</button></a></td>
		<td><a th:href="@{/professor/crud/update/{uuid}(uuid=${temp.getPersonId()})}"><button type="button">Update</button></a></td>
      </tr>
	  <tr>
		<td colspan="9"><button onclick="location.href='/professor/crud/create'">Create New Professor</button></td>
	  </tr>
    </table>
  </body>
</html>