<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Student Dashboard</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
	<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
</head>

<body>
	<header>
		<h1 th:text="'Student Dashboard: ' + ${student.name}">Student Home</h1>
		<nav>
			<a th:href="@{/login?logout}">
				<button type="button">Logout</button>
			</a>
			<a th:href="@{/student/crud/update/{username}(username=${student.getUsername()}, referer='/student/home')}">
				<button type="button">Update Personal info</button>
			</a>
		</nav>
	</header>

	<div class="container">
		<h2>My Lab Instances</h2>
		<table>
			<thead>
				<tr>
					<th>Course</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="inst : ${instance}" th:id="'instance-row-' + ${inst.instanceId}">
					<td th:text="${inst.course.courseName}">Course Name</td>
					<td>
						<span th:id="'status-' + ${inst.instanceId}"
							th:class="'status status-' + ${inst.status}" th:text="${inst.status}">STATUS</span>
					</td>
					<td>
						<a th:href="@{/student/home/remove(courseId=${inst.course.getCId()})}">
							<button type="button">Remove Course</button>
						</a>
					</td>
					<td>
						<div th:id="'action-' + ${inst.instanceId}">
							<a th:if="${inst.status.name() == 'RUNNING'}"
								th:href="@{/course/crud/instance/terminal(instanceId=${inst.instanceId})}"
								target="_blank" class="btn btn-success">Open
								Terminal</a>
						</div>
					</td>
				</tr>
			</tbody>

		<script th:inline="javascript">
			var socket = new SockJS('/ws-status');
			var stompClient = Stomp.over(socket);

			stompClient.heartbeat.outgoing = 10000;
			stompClient.heartbeat.incoming = 10000;

			/*[# th:each="instance : ${labInstances}"]*/
			stompClient.subscribe('/topic/course/[[${instance.course.courseId}]]', function (message) {
				var update = JSON.parse(message.body);
				updateStatus(update.instanceId, update.status);
			});
			/*[/]*/

			function updateStatus(instanceId, newStatus) {
				var statusElement = document.getElementById('status-' + instanceId);
				var actionElement = document.getElementById('action-' + instanceId);
				if (statusElement) {
					statusElement.innerText = newStatus;
					statusElement.className = 'status status-' + newStatus;
					if (newStatus === 'RUNNING') {
						actionElement.innerHTML = '<a href="/terminal/' + instanceId + '" class="btn btn-success">Open Terminal</a>';
					} else {
						actionElement.innerHTML = '';
					}
				}
			}


		</script>
</body>

</html>