<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head></head>
	<body>
		<button onclick="history.back()">Back</button>
		<h1 th:text="${student.getName() + ' ' + student.getSurname()}"></h1>
		<table border = 1px>
			<tr>
				<td>Course ID</td>
				<td>Course Name</td>
				<td>Course Description</td>
				<td>Course Info</td>
				<td>Remove Course</td>
			</tr>
			<tr th:each="course : ${filtered_courses}">
				<td th:text="${course.getCId()}"></td>
				<td th:text="${course.getCourseName()}"></td>
				<td th:text="${course.getCourseDesc()}"></td>
				<td><a th:href="@{/course/crud/{slug}(uuid=${course.getSlug()}, referer='/student/home')}"><button type="button">Info</button></a></td>
				<td><a th:href="@{/student/home/remove?(courseId=${course.getCId()})"><button type="button">Remove Course</button></a></td>
			</tr>
		</table>
	</body>
</html>