<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Update Password</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<div class="container">
		<button onclick="history.back()" class="btn btn-primary" style="margin-bottom: 20px;">Back</button>

		<h1>Update Password</h1>

		<form action="#" th:action="@{|/${userType}/crud/update-password?uuid=${userId}|}" th:object="${password}"
			method="post">
			<table>
				<tr>
					<td>Current Password:</td>
					<td><input type="password" th:field="*{currentPassword}" /></td>
					<td th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></td>
				</tr>
				<tr>
					<td>New Password:</td>
					<td><input type="password" th:field="*{newPassword}" /></td>
					<td th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></td>
				</tr>
				<tr>
					<td>Confirm New Password:</td>
					<td><input type="password" th:field="*{confirmPassword}" /></td>
					<td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="Change Password" class="btn btn-success"
							style="margin-top: 10px;" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>