<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Update Course</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
	<div class="container">
		<button onclick="history.back()" class="btn btn-primary" style="margin-bottom: 20px;">Back</button>
		<h1>Update Course</h1>
		<h2 th:text="${course.getCourseName()}"></h2>
		<form action="#" th:action="@{/course/crud/update}" th:object="${courseDTO}" method="post">
			<table>
				<tr>
					<td>Course Name:</td>
					<td><input type="text" th:field="*{courseName}" /></td>
					<td th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"></td>
				</tr>
				<tr>
					<td>Course Description:</td>
					<td><input type="text" th:field="*{courseDesc}" /></td>
					<td th:if="${#fields.hasErrors('courseDesc')}" th:errors="*{courseDesc}"></td>
				</tr>
				<input type="hidden" th:field="*{professorId}" />
				<input type="hidden" name="uuid" th:value="${course.getCId()}" />
				<tr>
					<td colspan="2"><input type="submit" value="Submit Update" class="btn btn-success" style="margin-top: 10px;" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>