<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>

</head>

<body>
	<button onclick="history.back()">Back</button>
	<h1>Update info about Professor:</h1>
	<h2 th:text="${professor.name} + ' ' + ${professor.surname}"></h2>
	<form action="#" th:action="@{/professor/crud/update}" th:object="${professorDTO}" method="post">
		<input type="hidden" name="uuid" th:value="${professorId}" />
		<table>
			<tr>
				<td>First Name:</td>
				<td><input type="text" th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
			</tr>
			<tr>
				<td>Middle Name:</td>
				<td><input type="text" th:field="*{middleName}" /></td>
				<td th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></td>
			</tr>
			<tr>
				<td>Surname:</td>
				<td><input type="text" th:field="*{surname}" /></td>
				<td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
			</tr>
			<tr>
				<td>E-mail:</td>
				<td><input type="text" th:field="*{email}" /></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
			</tr>
			<tr>
				<td><input type="submit" /></td>
			</tr>
		</table>
		<a
			th:href="@{/professor/crud/update-password/{uname}(uname=${username})"></a>
		<button type="button">Change Password</button>
		</a>
	</form>
</body>

</html>