<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Update Professor</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<div class="container">
		<button onclick="history.back()" class="btn btn-primary" style="margin-bottom: 20px;">Back</button>
		
		<h1>Update info about Professor:</h1>
		<h2 th:text="${professor.name} + ' ' + ${professor.surname}"></h2>
		
		<form action="#" th:action="@{/professor/crud/update}" th:object="${professorDTO}" method="post">
			<input type="hidden" name="uuid" th:value="${professorId}" />
			<table>
				<tr>
					<td>First Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
				</tr>
				<tr>
					<td>Middle Name:</td>
					<td><input type="text" th:field="*{middleName}" /></td>
					<td th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></td>
				</tr>
				<tr>
					<td>Surname:</td>
					<td><input type="text" th:field="*{surname}" /></td>
					<td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
				</tr>
				<tr>
					<td>E-mail:</td>
					<td><input type="text" th:field="*{email}" /></td>
					<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="Save Information" class="btn btn-success" style="margin-top: 10px;" />
					</td>
				</tr>
			</table>
			
			<div style="margin-top: 20px;">
				<a th:href="@{/professor/crud/update-password/{uname}(uname=${username})}" class="btn btn-primary">
					Change Password
				</a>
			</div>
		</form>
	</div>
</body>
</html>