.metadata/
/Zemturis Ē._Bakalaura darba 1.atskaite.odt
/proxmox-ve_9.1-1.iso
/ZemturisĒ._Darbs priekšaizstāvēšanai.odt
/ZemturisĒ._Vadītāja atsauksme priekšaizstāvēšanai.docx
/ZemturisĒ._Darba praktiskā daļa priekšaizstāvēsanai.txt
/ZemturisĒ._Darbs priekšaizstāvēšanai.docx
/arhitekturas diagramma.drawio.png
/erd.png
/sistemas_arhitektura.jpg
/learning_platform/init_log.txt
/learning_platform/ansible_workspace

.mvn/
mvnw
mvnw.cmd
/ZemturisĒ._Darbs aizstāvēšanai.odt
